@use "./abstracts/variables.scss";
@use "./abstracts/mixins.scss";

.body {
  @include mixins.flex(column, nowrap);
  gap: variables.$sectionsGap;
  background-color: variables.$backgroundColor;
  font-family: variables.$defaultFontFam;
  color: variables.$darkText;
}
.main {
  margin-top: 70px;
}
