@use "./abstracts/variables.scss";
@use "./abstracts/mixins.scss";

.main {
  @include mixins.flex(column, nowrap);
  gap: variables.$sectionItemsGap;

  .title {
    font-weight: 500;
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    text-align: center;
  }
}
