@use "../../styles/abstracts/mixins.scss";
@use "../../styles/abstracts/variables.scss";

.filterBtn {
  padding: 5px;
  position: relative;
  z-index: 1;
  left: 80%;
  bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.showControls {
  position: relative;
  height: 100px;
}

.hiddeControls {
  position: relative;
  margin-top: -300px;
}

.form {
  font-size: clamp(0.85rem, 1.5vw, 1.15rem);
  @include mixins.flex(row, wrap);
  align-items: center;
  gap: 10px;
  transition: 0.7s;
  left: 5%;

  .selectOptions {
    @include mixins.flex(row, wrap);
    gap: variables.$sectionItemsGap;
  }

  .cities option {
    height: 150px;
  }

  p {
    font-weight: bold;
  }

  .cities,
  .months {
    padding: 4px 2px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
  }

  button {
    padding: 7px 7px;
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid rgba(255, 200, 19, 0.664);
    color: black;
    background-color: variables.$controlsColor;
  }
}

@media (min-width: 374px) {
  .filterBtn {
    display: none;
  }

  .hiddeControls {
    margin-top: 0;
  }
}
