@use "../../styles/abstracts/mixins.scss";
@use "../../styles/abstracts/variables.scss";

.controlsContainer {
  @include mixins.flex(column, nowrap);
  gap: 10px;
}
.form {
  @include mixins.flex(row, wrap);
  width: 80%;
  max-width: 500px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgb(231, 231, 231);
  margin: 0 auto;

  .filterText {
    font-weight: 600;
    font-size: clamp(1rem, 2vw, 1.2rem);
  }
  .filterBtnsBox {
    @include mixins.flex(row, wrap);
    padding: clamp(5px, 3%, 20px);
    gap: variables.$sectionItemsGap;
    border-radius: 30px;

    .filterBtn {
      font-size: clamp(1rem, 2vw, 1.2rem);
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: rgb(88, 88, 88);
    }

    .filterBtn:hover {
      color: rgb(31, 30, 30);
    }
  }

  .applyBtn {
    padding: 7px 7px;
    font-weight: 500;
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    border-radius: 10px;
    border: 1px solid rgba(255, 200, 19, 0.664);
    color: black;
    background-color: variables.$controlsColor;
    cursor: pointer;
    // transition: 0.5s;
  }

  .applyBtn:hover {
    color: rgb(61, 61, 61);
    // transition: 0.5s;
  }
}

.lists {
  @include mixins.flex(row, wrap);
  justify-content: center;
  cursor: pointer;
}

.hideMonths,
.hideCities {
  height: 0;
  list-style-type: none;
  overflow: hidden;
  transition: 0.5s;
}

.showMonths,
.showCities {
  @include mixins.flex(column, nowrap);
  height: 27vh;
  padding: clamp(5px, 5%, 20px);
  font-size: clamp(1.1rem, 1.5vw, 1.3rem);
  gap: 5px;
  position: relative;
  border-radius: 8px;
  background-color: white;
  border: 1px solid lightgray;
  list-style-type: none;
  overflow: scroll;
  transition: 0.5s;
  .option:hover {
    background-color: lightgray;
  }
}

@media (min-width: 714px) {
  .form {
    .filterBtnsBox {
    }
  }
}
