@use "../../styles/abstracts/mixins.scss";
@use "../../styles/abstracts/variables.scss";

.header {
  height: 60px;
  @include mixins.flex(row, wrap);
  justify-content: space-evenly;
  align-content: center;
  background-color: variables.$primaryColor;
}

.home {
  @include mixins.logo;
  height: 90%;
}
