@use "../../styles/abstracts/mixins.scss";
@use "../../styles/abstracts/variables.scss";

.main {
  @include mixins.flex(column, nowrap);
  height: auto;
  min-height: 100dvh;
  gap: variables.$sectionsGap;
}
.events {
  @include mixins.eventsLayout();
}
