@use "./variables.scss";

@mixin flex($direction, $wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin logo() {
  padding: 5%;
  border-radius: 2px;
  font-weight: bold;
  font-family: variables.$defaultFontFam;
  background-color: variables.$backgroundColor;
  color: #121212;
}
