// Colors
$backgroundColor: #f6f6f6;
$primaryColor: #00d2fa;
$secondaryColor: #19e30b;
$controlsColor: #fac011e3;
$lightText: #fcfcfc;
$darkText: #141414;

// Fonts
$defaultFontFam: sans-serif;

// Gaps
$sectionsGap: 55px;
$sectionItemsGap: 45px 22px;
