// Colors
$backgroundColor: #f6f6f6;
$primaryColor: #fbd2af;
$controlsColor: #2c79a8;
$lightText: #fcfcfc;
$darkText: #141414;

// Fonts
$defaultFontFam: sans-serif;

// Gaps
$sectionsGap: 55px;
$sectionItemsGap: 45px;
