@use "../../../styles/abstracts/mixins.scss";
@use "../../../styles/abstracts/variables.scss";

.itemLink {
  width: 100%;
  max-width: 320px;
  height: 350px;

  .item {
    @include mixins.singleEventCard();
    width: 100%;
    height: 100%;

    .fig {
      width: 100%;
      height: auto;
      border-radius: 7px;
      overflow: hidden;

      img {
        width: 100%;
        // height: 110%;
      }
    }

    h2 {
      font-size: 1.2rem;
    }

    .itemDetails {
      @include mixins.flex(row, wrap);
      width: 100%;
      justify-content: space-evenly;

      li {
        font-size: 0.9rem;
        display: inline-block;
        list-style: none;
      }

      .rateBar {
        @include mixins.flex(row, wrap);
        width: 35%;
        justify-content: center;
        gap: 10px;

        label {
          font-size: 0.9rem;
        }

        progress {
          width: 30%;
        }
      }
    }
  }
}
