@use "../../../styles/abstracts/mixins.scss";
@use "../../../styles/abstracts/variables.scss";

.events {
  @include mixins.eventsLayout();
  height: 100%;
  margin: 0 4%;
}

@media (min-width: 714px) {
  .events {
    margin: 0 0;
  }
}
